# python cache
__pycache__/
DisFit/__pycache__
tests/__pycache__

#distribution files
/build/
/dist/
/sdists/
*.egg-info

# .rst-formatted README
README.rst

# compiled documentation
docs/_build
docs/.doctrees/
docs/make.bat
docs/Makefile

# pytest .cache directory
.cache/
.pytest_cache/

# raw data
examples/Shin_PLOS2019/raw_data
# examples/Shin_PLOS2019/generate_cpm_tables.py